body {
  justify-items: center;
  align-content: center;
  height: 100vh;
}
.form-section {
  display: flex;
  gap: 8px
}
div {
  background-color:rgb(216, 216, 216);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.199);
}

.div-list {
  width: 500px;
}

input {
  background-color: aliceblue;
  border:0px;
  color:grey;
}
#blue-button {
  width:100px;
  height: 41px;
  transition: background-color, 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
#blue-button:hover {
  background-color: blue;
  width: 115px;
  height: 45px;
}
#red-button {
  width:50px;
  height: 41px;
  transition: background-color, 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
#red-button:hover {
  background-color: rgb(255, 0, 0);
  width: 55px;
  height: 45px;
}
#purple-button {
  width:125px;
  height: 41px;
  transition: background-color, 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
#purple-button:hover {
  background-color: rgb(149, 0, 255);
  width: 130px;
  height: 45px;
}